<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STT recognize</title>
  <style>
    [v-cloak] {
      display: none;
    }
    .wdt_12rem {
      width: 12rem;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <v-app>
      <v-app-bar app>

        <v-app-bar-title>Speech to Text</v-app-bar-title>
        <v-spacer></v-spacer>
        <v-switch
          v-model="local_mode"
          :label="`LocalMode`"
          hide-details
          class="ma-2"
        ></v-switch>

      </v-app-bar>

      <!-- Toast Component -->
      <v-snackbar
        v-model="toast.show"
        bottom
        multi-line
        :timeout="toast.timeout"
        :color="toast.type"
        @click="toast.show = false">
        <div class="rw">{{ toast.text }}</div>
      </v-snackbar>

      <v-main>
        <v-container>
          <div class="text-h5 primary--text">Language Model:</div>
          <div class="ma-2">
            <v-row class="">
              <v-col class="col-8">
                <v-select
                  label="Model"
                  outlined
                  dense
                  :items="model_items"
                  item-text="name"
                  item-value="name"
                  v-model="model_selected"
                  return-object
                  hide-details
                  @input="onModelSelectChange()"
                ></v-select>
              </v-col>
              <v-col class="col-4">
                <v-btn 
                  tile color="primary"
                  elevation="1"
                  rounded
                  :loading="model_loading"
                  @click="onModelListBtn()">
                  <v-icon left>mdi-web</v-icon>
                  <span>Model List</span>
                </v-btn>
              </v-col>
            </v-row>

            <div class="">
              <div class="ma-0 row">
                <div class="ma-1 accent--text wdt_12rem">description:</div>
                <div class="ma-1">{{ model_selected_info.description }}</div>
              </div>
              <div class="ma-0 row">
                <div class="ma-1 accent--text wdt_12rem">rate:</div>
                <div class="ma-1">{{ model_selected_info.rate }}</div>
              </div>
              <div class="ma-0 row">
                <div class="ma-1 accent--text wdt_12rem">url:</div>
                <div class="ma-1">{{ model_selected_info.url }}</div>
              </div>
              <div class="ma-0 row" v-if="model_selected_info.supported_features">
                <div class="ma-1 accent--text wdt_12rem">custom_language_model:</div>
                <div class="ma-1">{{ model_selected_info.supported_features.custom_language_model }}</div>
              </div>
              <div class="ma-0 row" v-if="model_selected_info.supported_features">
                <div class="ma-1 accent--text wdt_12rem">speaker_labels:</div>
                <div class="ma-1">{{ model_selected_info.supported_features.speaker_labels }}</div>
              </div>
            </div>
          </div>

          <v-divider></v-divider>
          <div class="text-h5 primary--text">Query Parameters:</div>
          <div class="ma-2">
            <v-row class="ma-2">
              <v-col class="col">
                <v-row>
                  <v-switch
                    v-model="isTimestamps"
                    :label="`TimeStamps`"
                    hide-details
                    class="ma-2"
                  ></v-switch>
                  <v-switch
                    v-model="isSpeakerLabels"
                    :label="`SpeakerLabel`"
                    hide-details
                    class="ma-2"
                  ></v-switch>
                </v-row>
              </v-col>

              <v-col class="col-5">
                <v-slider
                  v-if="cstm_model_selected"
                  hint="customization_weight"
                  persistent-hint
                  v-model="customWeight"
                  max="1.0"
                  min="0"
                  step="0.1"
                  ticks
                  dense
                  thumb-label="always"
                ></v-slider>
              </v-col>
            </v-row>

            <v-row class="ma-2 align-center">
              <v-select
                label="Custom Model"
                outlined
                dense
                :items="cstm_model_items"
                item-text="name"
                item-value="customization_id"
                v-model="cstm_model_selected"
                return-object
                hide-details
                clearable
              ></v-select>
              <v-btn
                class="ma-2"
                tile color="primary"
                elevation="1"
                rounded
                :loading="cstm_model_loading"
                @click="onCustomModelListBtn()">
                <v-icon left>mdi-view-list</v-icon>
                <span>Custom Model List</span>
              </v-btn>
            </v-row>
            <div class="ma-0 row" v-if="cstm_model_selected">
              <div class="ma-1 accent--text wdt_12rem">base_model_name:</div>
              <div class="ma-1">{{ cstm_model_selected.base_model_name }}</div>
            </div>

          </div>

          <v-divider></v-divider>
          <div class="text-h5 primary--text">Send Audio Data:</div>
          <div class="ma-2">

            <v-tabs align-with-title v-model="send_audio_tab">
              <v-tabs-slider color="primary"></v-tabs-slider>
              <v-tab href="#tab-f">Audio File</v-tab>
              <v-tab href="#tab-r">Record voice</v-tab>

              <v-tab-item value="tab-f" class="elevation-2">
                <v-file-input 
                  show-size
                  label="Audio File"
                  accept="audio/*"
                  hide-details
                  @change="onFileChange"
                ></v-file-input>
              </v-tab-item>

              <v-tab-item value="tab-r" class="elevation-2">
                <v-btn
                  v-if="isRecording"
                  tile color="primary"
                  elevation="1"
                  rounded
                  :loading="msg_loading"
                  @click="onRecordEndBtn()">
                  <v-icon left>mdi-microphone-off</v-icon>
                  <span>Record End</span>
                </v-btn>
                <v-btn 
                  v-else
                  tile color="primary"
                  elevation="1"
                  rounded
                  :loading="msg_loading"
                  @click="onRecordStartBtn()">
                  <v-icon left>mdi-microphone</v-icon>
                  <span>Record Start</span>
                </v-btn>
              </v-tab-item>
            </v-tabs>

            <v-row class="justify-center align-center ma-3">
              <audio id="result_audio" src="" controls></audio>
              <v-btn 
                tile color="primary"
                elevation="1"
                rounded
                :loading="msg_loading"
                @click="onSendBtn()">
                <v-icon left>mdi-send</v-icon>
                <span>Send Audio</span>
              </v-btn>
            </v-row>
          </div>

          <v-divider></v-divider>
          <div class="text-h5 primary--text">Result:</div>
          <div class="ma-2">
            <v-row class="justify-center">
              <div v-if="isLoading">
                <v-progress-circular
                  v-show="isLoading"
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
              <div v-else class="flex-grow-1">
                <div class="ma-5">
                  <div class="accent text-h5">transcript</div>
                  <div>{{ ret_transcript }}</div>
                </div>
                <div class="ma-5">
                  <div class="accent text-h5">confidence</div>
                  <div>{{ ret_confidence }}</div>
                </div>

                <div class="ma-5">
                  <div class="accent text-h5">timestamps</div>
                  <v-simple-table dense>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">Start</th>
                          <th class="text-left">End</th>
                          <th class="text-left">Text</th>
                          <th class="text-left" v-if="isSpeakerLabels">Speaker</th>
                          <th class="text-left" v-if="isSpeakerLabels">Confidence</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in ret_timestamps">
                          <td>{{ item[1] }}</td>
                          <td>{{ item[2] }}</td>
                          <td>{{ item[0] }}</td>
                          <td v-if="isSpeakerLabels">{{ item[3] }}</td>
                          <td v-if="isSpeakerLabels">{{ item[4] }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </div>
              </div>
            </v-row>
          </div>

        </v-container>
      </v-main>
    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const LOCAL_URL = "http://localhost:1090/speech-to-text/api/v1/";
    const BRIDGE_URL = "http://localhost:3000/";

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),

      data:() => ({
        local_mode: false,
        
        // components
        toast:{
          show: false,
          timeout: 5000,
          type: "primary",
          text:""
        },

        // language model
        model_loading: false,
        msg_loading: false,
        model_items:[],
        model_selected: "",
        model_selected_info: "",

        // custom language model
        cstm_model_loading: false,
        cstm_model_items:[],
        cstm_model_selected: "",

        // audio file
        send_audio_tab: "tab-f",
        send_audio: "",

        isRecording: false,
        mediaRecorder: null,
        dataArray: [],

        // query settings
        isLoading: false,
        isTimestamps: true,
        isSpeakerLabels: false,
        customWeight: 0.2,

        // result
        ret_transcript: "",
        ret_confidence: 0,
        ret_timestamps: [],
      }),
      methods: {
        // components
        showToast(msg) {
          this.toast.text = msg;
          this.toast.show = true;
        },

        // Audio File
        onRecordStartBtn() {
          this.isRecording = true;
          this.dataArray = [];

          if (!this.mediaRecorder) {
            navigator.mediaDevices.getUserMedia({
              video:false,
              audio: {
                // sampleSize: 16, channelCount: 1, sampleRate: 16000
              }
            }).then(mediaStreamObj =>{
                this.mediaRecorder = new MediaRecorder(mediaStreamObj,{
                  // audioBitsPerSecond: 16000,
                });
                const rec = this.mediaRecorder;

                this.mediaRecorder.ondataavailable = (ev)=>{
                  console.log("mediaRecorder.ondataavailable");
                  this.dataArray.push(ev.data);
                };
                this.mediaRecorder.onstop = (ev)=>{
                  console.log("mediaRecorder.onstop");

                  this.send_audio = new Blob(this.dataArray, {'type': rec.mimetype });
                  this.dataArray = [];
                  result_audio.src = URL.createObjectURL(this.send_audio);

                  this.sendRequest("audio/webm;codecs=opus", this.send_audio);
                };

                this.mediaRecorder.start();
              })
          } else {
            this.mediaRecorder.start();
          }
        },

        onRecordEndBtn() {
          this.isRecording = false;
          this.mediaRecorder.stop();
        },

        onFileChange(file) {
          console.log(file);
          this.send_audio = file;
          result_audio.src = (file) ? URL.createObjectURL(this.send_audio) : "";
        },

        // Send Data
        sendRequest(mimetype, audiofile){
          let sendurl = `${(this.local_mode) ? LOCAL_URL : BRIDGE_URL}recognize`;
          // set query.
          let params = "";
          let model = this.model_selected.name;
          if (model) {
            params += `${(params)?"&":"?"}model=${model}`;
          }
          if (this.isTimestamps) {
            params += `${(params)?"&":"?"}timestamps=true`;
          }
          
          if (this.isSpeakerLabels) {
            params += `${(params)?"&":"?"}speaker_labels=true`;
          }
          if (this.cstm_model_selected) {
            params += `${(params)?"&":"?"}language_customization_id=${this.cstm_model_selected.customization_id}`;
          
            if (this.customWeight > 0) {
              params += `${(params)?"&":"?"}customization_weight=${this.customWeight}`;
            }
          }

          // add query params
          sendurl += params;
          this.isLoading = true;

          let options = {
            method: "POST",
            headers: {
              "Content-Type": mimetype
            },
          };

          if (this.local_mode) {
            options.body = audiofile;

          } else {
            let formData = new FormData();
            formData.append('tmpaudio', audiofile);
            options.body = formData;

            // Ugh! for Node.js multer. Need auto set 'multipart/form-data'.
            delete options.headers['Content-Type'];
          }

          fetch(
              `${sendurl}`,
              options
            )
            .then(res => res.json())
            .then(json => {
              console.log(json);
              this.isLoading = false;
              this.setResult(json);
            })
        },

        onSendBtn(){
          this.sendRequest(this.send_audio.type, this.send_audio);
        },

        // Result
        setResult(json){
          if (json.results[0]) {
            let ret = json.results[0].alternatives[0];
            if (ret) {
              this.ret_transcript = ret.transcript;
              this.ret_confidence = ret.confidence;
              this.ret_timestamps = ret.timestamps;

              // merge speaker labels.
              if (this.isSpeakerLabels && json.speaker_labels) {
                let labels = json.speaker_labels;
                for (let i = 0; i < labels.length; i++) {
                  const itm = labels[i];
                  if (itm && this.ret_timestamps[i]) {
                    this.ret_timestamps[i].push(itm.speaker);
                    this.ret_timestamps[i].push(itm.confidence);
                  }
                }
              }

            }
          }
        },

        // Language Model
        onModelListBtn(){
          let baseurl = (this.local_mode) ? LOCAL_URL : BRIDGE_URL;
          fetch(
              `${baseurl}models`, {
                method: "GET",
                headers: {
                  "Content-Type": "application/json"
                }
              }
            )
            .then(res => res.json())
            .then(json => {
              console.log(json);

              this.model_items = json.models.sort((a, b) => {
                return a.name < b.name ? -1 : 1; // sort by name
              });

              // first select.
              this.model_selected = this.model_items[0];
              this.onModelSelectChange();
            })
        },
        onModelSelectChange(evt){
          console.log(evt);

          let model = this.model_selected.name;
          if (!model) {
            console.error("selected model is nothing.");
            return;
          }

          let baseurl = (this.local_mode) ? LOCAL_URL : BRIDGE_URL;
          fetch(
            `${baseurl}models/${model}`, {
              method: "GET",
              headers: {
                "Content-Type": "application/json"
              }
            }
          )
            .then(res => res.json())
            .then(json => {
              console.log(json);
              this.model_selected_info = json;
            })
        },

        // Custom Model
        onCustomModelListBtn(){
          this.cstm_model_items = [];
          this.cstm_model_selected = "";
          // this.cstm_model_selected_info = {};

          let baseurl = (this.local_mode) ? LOCAL_URL : BRIDGE_URL;
          fetch(
              `${baseurl}customizations`, {
                method: "GET",
                headers: {
                  "Content-Type": "application/json"
                }
              }
            )
            .then(res => res.json())
            .then(json => {
              console.log(json);

              let cmodellist = json.customizations;
              if (cmodellist.length <=0) {
                this.showToast(`カスタムモデルはありません`);
                return;
              }

              // sort by name
              cmodellist = cmodellist.sort((a, b) => {
                return a.name < b.name ? -1 : 1;
              });
              this.cstm_model_items = cmodellist;

              // first select.
              this.cstm_model_selected = this.cstm_model_items[0];
            })
        },

      },
      mounted() {
        console.log("vue mounted.");
        // this.onGetModelBtn();
      }
    })

  </script>
</body>

</html>
